.login {
  min-height: 100vh;
  min-height: 100svh;
  padding: 3.2rem 8rem;
  background-color: var(--color-dark--1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem 3rem;
  background-color: var(--color-dark--2);
  border-radius: 7px;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
