.btn {
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5px;
  color: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.primary {
  color: var(--color-dark--1);
  background-color: var(--color-brand--2);
  font-weight: 700;
}

.back {
  border: 1px solid currentColor;
  background: none;
  font-weight: 600;
}

.position {
  position: absolute;
  z-index: 1000;
  left: 50%;
  bottom: 4rem;
  color: var(--color-dark--1);
  background-color: var(--color-brand--2);
  font-size: 1.4rem;
  font-weight: 700;
  transform: translateX(-50%);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
