.formWrapper {
  overflow-y: scroll;
  padding-right: 1rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
  background-color: var(--color-dark--2);
  border-radius: 7px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.flag {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}

:global(.react-datepicker) {
  font-size: 1.2rem !important;
}

:global(.react-datepicker__view-calendar-icon) input {
  padding: 0.8rem 1.2rem;
}

:global(.react-datepicker__calendar-icon) {
  top: 1rem;
  right: 1.2rem;
  width: 2rem;
  height: 2rem;
  padding: 0 !important;
}
