.cityItem,
.cityItem:link,
.cityItem:visited {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 7px;
  border-left: 5px solid var(--color-brand--2);
  color: inherit;
  background-color: var(--color-dark--2);
  text-decoration: none;
  cursor: pointer;
}

.cityItem--active {
  border: 2px solid var(--color-brand--2);
  border-left: 5px solid var(--color-brand--2);
}

.name {
  margin-right: auto;
  font-size: 1.7rem;
  font-weight: 600;
}

.date {
  font-size: 1.5rem;
}

.deleteBtn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  color: var(--color-light--2);
  background-color: var(--color-dark--1);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  transition: all 0.2s;
  cursor: pointer;
}

.deleteBtn:hover {
  color: var(--color-dark--1);
  background-color: var(--color-brand--1);
}
