.cityWrapper {
  overflow-y: scroll;
  width: 100%;
  background-color: var(--color-dark--2);
  border-radius: 7px;
}

.cityWrapper::-webkit-scrollbar-track {
  background-color: var(--color-dark--2);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 7px;
}

.city {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  color: var(--color-light--1);
  font-size: 1.1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.cityName {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cityName h3 {
  font-size: 1.9rem;
}

.city p {
  font-size: 1.6rem;
}

.city a:link,
.city a:visited {
  color: var(--color-brand--1);
  font-size: 1.6rem;
}
