.city {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-height: 70%;
  padding: 2rem 3rem;
  border-radius: 7px;
  background-color: var(--color-dark--2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.city::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.city {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  color: var(--color-light--1);
  font-size: 1.1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.cityName {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cityName h3 {
  font-size: 1.9rem;
}

.city p {
  font-size: 1.6rem;
}

.city a:link,
.city a:visited {
  color: var(--color-brand--1);
  font-size: 1.6rem;
}
