/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-brand--2-dark: #009d55;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

/* || Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  color-scheme: dark;
}

body {
  color: var(--color-light--2);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

/* || Custom Scrollbar */
::-webkit-scrollbar {
  width: 1.8em;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark--0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-brand--2);
  border: 0.25em solid var(--color-dark--0);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-brand--2-dark);
}

/* || Custom Focus And Text Selection */
*:focus-visible {
  outline: 2px solid var(--color-brand--2);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-dark--0);
  background-color: var(--color-brand--2);
}

::selection {
  color: var(--color-dark--1);
  background-color: var(--color-brand--2);
}

/* || Custom Focus And Text Selection */

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--color-dark--0);
  border-radius: 5px;
  background-color: var(--color-dark--0);
  font-size: 1.6rem;
  resize: none;
  outline-offset: -2px;
}

button {
  cursor: pointer;
  outline-offset: 1px;
}

.cta:link,
.cta:visited {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 5px;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
